* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* header */

.header {
  color: white;
  background-color: #1f2937;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.header-logo {
  color: white;
  font-size: 24px;
}

/* header body */
.header-body {
  display: flex;
  padding: 100px;
  /* background-color: red; */
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.body-text {
  font-size: 18px;
  color: #e5e7eb;
}
.body-right img {
  max-height: 250px;
  height: 250px;
  margin-left: 40px;
}
.header-button {
  background-color: blue;
  color: aliceblue;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 25px;
}

/* section 2 with the image cards */

.section2 {
  text-align: center;
}

.section2-header {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  margin: 50px;
}

.image-container {
  display: flex;
  color: #1f2937;
  font-size: 18px;
  margin: auto;
  justify-content: center;
  gap: 40px;
}

.square {
  width: 100px;
  height: 100px;
  border: 5px solid blue;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* section 3 */

.section3 {
  background-color: grey;
  padding: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.thor {
  color: white;
  font-weight: bold;
  align-self: flex-end;
}

.section4 {
  padding: 30px 150px;
}
.action-box {
  background-color: #3882f6;
  border-radius: 4px;
  color: #f9faf8;
  display: flex;
  padding: 33px 77px;
  justify-content: space-around;
}

.section3-button {
  background-color: blue;
  color: aliceblue;
  padding: 5px 20px;
  border-radius: 8px;
  border: 2px solid white;
}


.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 20px;
    font-size: 9px;
}